/*box of the current page, Ala Carte or Packagee page, will be coloured*/
.currentPageBox {
    border-radius: 40px;
    background: #C2BAAF;
    padding: 20px; 
    width: 100px;
    height: 100px;
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 8px inset;
    text-align: center;
}

/*box of the other page, Ala Carte or Packagee page, will not be coloured*/
.otherPageBox {
    border-radius: 40px;
    border: 3px solid black;
    padding: 20px; 
    width: 100px;
    height: 100px;
    text-align: center;
}

#center {
    padding-top: 14px;
}

#leftAlign {
    text-align: left;
}

#leftPadding {
    padding-left: 230px;
}

/*design for box displaying information of the types of tickets in Ala Carte page*/
.ticketsBox {
    border-radius: 40px;
    padding: 20px;
    width: 700px;
    height: 210px;
    margin: auto;
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 8px;
}

/*design for box displaying information of the types of tickets in Package page*/
.packagesBox {
    border-radius: 40px;
    padding: 20px;
    width: 700px;
    height: 250px;
    margin: auto;
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 8px;
}

/*Family package box background image*/
.familyBackground {
    position: relative;
    
    &::before {
        border-radius: 40px;
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-image: url(../images/family_outing.jpg);
        opacity: 0.25;
    }
}

/*Friend Trip package box background image*/
.friendsBackground {
    position: relative;
    
    &::before {
        border-radius: 40px;
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-image: url(../images/friends_outing.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.25;
    }
}

/*Outing package box background image*/
.outingBackground {
    position: relative;
    
    &::before {
        border-radius: 40px;
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background-image: url(../images/outing.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.25;
    }
}

h3 {
    position: relative;
}

p {
    position: relative;
}

/*"View more details >" box*/
.moreDetailsBox {
    border-radius: 20px;
    background: #C2BAAF;
    padding: 10px; 
    width: 230px;
    height: 65px;
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 8px inset;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

/*design for box displaying "Visitors' Information" & "FAQs"*/
.informationBox {
    border-radius: 40px;
    padding: 20px;
    vertical-align: text-top;
    width: 475px;
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 8px inset;
}

/*text background for informationbox headers*/
#textBackgroundColour {
    text-align: center;
    border-radius: 20px;
    background-color: #C2BAAF;
    padding: 20px;
    box-shadow: rgb(114, 114, 114) 0px 0px 10px 8px inset;
}


/*design for box displaying package details popup*/
/*Family package popup*/
.modal1 {
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    width: 700px;
    height: 250px;
    margin: auto;
    top: 50%;
    left: 50%;
    /*"scale(0)" to hide popup*/
    transform: translate(-2.5%, -86%) scale(0);
}

/*set "scale(1)" to unhide popup*/
.modal1.active {
    transform: translate(-2.5%, -86%) scale(1);
}

/*design for box displaying header of package details popup*/
.modal1-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: #333;
    padding-left: 20px;
    padding-right: 20px;
    color: #C2BAAF;
}

/*design for popup close button*/
.modal1-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #C2BAAF;
    font-size: 3rem;
}

.modal1-body {
    padding: 10px 20px;
}

/*Friends Trip package popup*/
.modal2 {
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    width: 700px;
    height: 250px;
    margin: auto;
    top: 50%;
    left: 50%;
    /*"scale(0)" to hide popup*/
    transform: translate(-2.5%, -80%) scale(0);
}

/*set "scale(1)" to unhide popup*/
.modal2.active {
    transform: translate(-2.5%, -80%) scale(1);
}

/*design for box displaying header of package details popup*/
.modal2-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: #333;
    padding-left: 20px;
    padding-right: 20px;
    color: #C2BAAF;
}

/*design for popup close button*/
.modal2-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #C2BAAF;
    font-size: 3rem;
}

.modal2-body {
    padding: 10px 20px;
}

/*Outing package popup*/
.modal3 {
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    width: 700px;
    height: 250px;
    margin: auto;
    top: 50%;
    left: 50%;
    /*"scale(0)" to hide popup*/
    transform: translate(-2.5%, -80%) scale(0);
}

/*set "scale(1)" to unhide popup*/
.modal3.active {
    transform: translate(-2.5%, -80%) scale(1);
}

/*design for box displaying header of package details popup*/
.modal3-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: #333;
    padding-left: 20px;
    padding-right: 20px;
    color: #C2BAAF;
}

/*design for popup close button*/
.modal3-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #C2BAAF;
    font-size: 3rem;
}

.modal3-body {
    padding: 10px 20px;
}

/*design & layout for FAQ questions*/
.accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-align: left;
}

/*size of FAQ questions arrow*/
.accordion i {
    font-size: 1.6rem;
}

.active,
/*slight colour appear when hovering over questions*/
.accordion:hover {
    background-color: #F7F4F1;
}

/*design & layout for FAQ answers*/
.pannel {
    background-color: white;
    overflow: hidden;
    background-color: #F7F4F1;
    display: none;
}

.pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}

/*margin to seperate each question & answer*/
.faq {
    margin: 10px 0;
}

.faq.active {
    border: none;
}
